.{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif; 
}
body{
  font-family: 'Montserrat', sans-serif; 
}
.gad{
  font-weight: bold;
  color: red;
}
.bespoke{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: red;
  color: white;
}
.icons{
  justify-content: space-around;
  align-items: center;
}
.middle{
  display: flex;
  gap: 30px;
}
a{
  color: white;
  text-decoration: none;
}
.store{
  color: white;
  background-color: red;
  padding: 5px 19px;
  border-radius: 20px;
  border: 2px solid white;
}
.omg{
  width: 50px;
}
.person{
    text-decoration: none;
    color: black;
}
.human{
  /* margin-bottom: 7px; */
  font-size: 30px;
}
.btn1{
    color: white;
    border-radius: 100px;
    width: min-content;
    font-weight: bold;
    font-size: 15px;
    display: flex;
    
}

#material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 8;
  font-size: 20px;
  color: white;
  margin: 0 1px 0 0; 
}
.icons{
  display:flex;
  gap: 30px;
  align-items: flex-end;
  
}

.card-title{
  text-align: center;
  font-weight: bold;
  
}
.btn2{
 display: flex;
 max-width: fit-content;
 justify-self: center;
 border-radius: 30px;
}

.card-text{
  font-weight: bold;
  font-size: 30px;
}

.col-lg{
  max-width: fit-content;
  max-height: 300px;
}
.row{
  gap: 1px 15px;
}
.head2{
  position: relative;
  align-items: center;
  margin-top: 15px; 
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif; 
}
.head3{
  text-align: center;
  font-size: 10px;
}
.card-img{
  margin-top: 20px;
  margin-left: 30px;
  width: 100px;
  justify-content: center;
}
.card-body{
  display: flex;
  gap: 30px;
  color: red;
  
}
.naira{
  font-size: 10px;
  position: relative;
  top: 15px;
  right: 10px;
  font-family: 'Fuzzy Bubbles', cursive;
}
.buttonred{
  width: 45px;
  height: 15px;
  margin-top: 20px;
  border-radius: 30px;
  background-color: red;
  border: red;
  color: white;
  font-size: 5px;
  font-weight: bold;
  transition-duration: 0.4s;
  
}
.forty{
  font-size: 10px;
  font-family: 'Fuzzy Bubbles', cursive;
}
.card{
  width: 200px;
  border-radius: 30px;
  transition-duration: 0.2s;
  box-shadow: 5px 1px 8px  6px rgb(193, 193, 193);
}
.card:hover{
  /* transform: scale(1.1); */
  box-shadow: -2px -2px 8px  6px rgb(240, 130, 130);
}
.buttonred:hover{
  transition-duration: 0.2s;
  transform: scale(1.1) ;
  box-shadow: 1px 5px 6px  1px rgb(240, 130, 130);
}
