/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(245, 245, 245);
    
}
.main-container{
    background-color: white;
    width: 1166px;
    height: 570px;
    margin: 450px auto;
    justify-items: center;
}
.major-watch{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.major-image{
    border: transparent;
    width: 583px;
    display: flex;
    justify-content: center;
    
      
}
.black-watch{
    width: 200px;
    position: relative;
    top: 30px;
}
.sub-images{
    display: flex;
    gap: 5px;
    width:583px;
    padding-top: 50px;
    position: ;
}
.sub-images div{
    margin: 0 auto;
    padding: 10px 0;
    width: 86px;
    border: 1px solid rgb(235, 112, 112);
    display: flex;
    justify-content: center;
}
div .watch{
    height: min-content;
    
}
.main-container{
    display: flex;
}
.left-container{
    padding-top: 40px;
}
.price, .rating-icons, .no-of-ratings, .main-text, .two-buttons{
    padding-top: 20px;
}
.no-of-ratings{
    position: relative;
    float: right;
    right: 280px;
    bottom: 20px;
}
.rating-icons, .no-of-ratings{
    font-size: 24px;
}
.main-text{
    font-size: 20px;
}
.button1, .button2{
    width: 150px;
    height: 50px;
    background-color: rgb(244, 174, 11);
    color: white;
    font-weight: bold;
    border: transparent;
}
.button1:hover{
    transition: 0.3s;
    color: rgb(244, 174, 11);
    background-color:white ;
    border: 1px solid rgb(244, 174, 11);
}
.button2{
    background-color: black;
}
.button2:hover{
    transition: 0.3s;
    color: black;
    background-color: white;
    border: 1px solid black;
}
.button2{
    margin-left: 5px;
}
img{
    width: 200px;
} */





/* body{
    font-family: 'Montserrat', sans-serif;
    background-color: #F0F0F3;
}
.containerx{
    background-color: white;
}

.divi-container{
    display: flex;
    justify-content: space-between;
    gap: 1px;
    height: max-content;
}
.first-container{
    display: flex;
    gap: 50px;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
.second-container{
    width: 40%;
}
.main-text{
    width: 100%;
}
.main-image{
    width: 300px;
    margin-top: 40px;
    border: 2px solid red;
}
.main-image img, .other-images img{
    max-width: 100%;
    max-height: 100%;
}
.other-images img{
    border: 2px solid red;
}
.other-images{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 40px;
    
}
.other-images div{
    width: 90px;
    height: 100px;
}
.secondary-images{
    
}

@media(max-width:1024px){
    .divi-container{
        background-color: white;
        display: flex;
        flex-direction: column;
        gap: 1px;
        height: max-content;
        justify-content: center;
        align-items: center;
       
    }
    .other-images{
     
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        min-width: 300px;
    }
    .second-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .main-text{
        max-width: 90%;
        opacity: 0.9;
    }
    .first-container{
        width: 80%;
        margin: 0 auto;
    }
    .main-image{
        width: 100%;
        
    }
}
.boot-image{
    width: 400px;
} */

.other-images > div{
  width: max-content;
  border: 2px solid red;
}
.other-images div .secondary-images{
    width: 50px;
}
.other-images{
    display: flex;
    flex-wrap: wrap;justify-content: space-between;
    gap: 5px;
    width: 100%;
    padding: 0 10px;
}
.major-image{
    width: 100%;
    border: 2px dotted red;
}
.divi-container{
    justify-content: space-between;
}
.main-image{
    position: relative;
}
.prev, .next{
    font-size: 30px;
    position: absolute;
    color: red;
    top: 50%;
    background-color: rgb(100, 96, 96);
    padding: 4px;
}
.next{
    right: 0%;
}
.prev{
    left: 0%;
}
.next:hover, .prev:hover{
    border: 2px solid rgb(100, 96, 96);
    color: red;
    background-color: transparent;
    cursor: pointer;
    text-decoration: underline;
    
    
}



.price, .rating-icons, .main-text, .two-buttons{
    padding-top: 20px;
}
.price{
    font-size: 30px;
}
.rating-icons{
    font-size: 20px;
}
.main-text{
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
}
.button1, .button2{
    width: 150px;
    height: 50px;
    background-color: rgb(244, 174, 11);
    color: white;
    font-weight: bold;
    border: transparent;
}
.button1:hover{
    transition: 0.3s;
    color: rgb(244, 174, 11);
    background-color:white ;
    border: 1px solid rgb(244, 174, 11);
}
.button2{
    background-color: black;
}
.button2:hover{
    transition: 0.3s;
    color: black;
    background-color: white;
    border: 1px solid black;
}
.button2{
    margin-left: 5px;
}
.num{
    display: inline;
}
.signs{
    display: flex;
    gap: 50px;
}
.signature{
    background-color: red;
    color: white;
    padding: 0 10px;
    border-radius: 10%;
    cursor: pointer;
}




section{
    margin-top: 30px;
}
.row-containera{
    justify-content: space-between;
    row-gap: 5px;  
}
.containera{
    background-color: white;
    border: 1px solid rgb(188, 186, 186);
    text-transform: uppercase;
}
.sharp{
    gap: 1px;
    justify-content: space-between;
}
.containera:hover{
    transition: 0.4s;
    color: white;
    background-color: red;
}
.flexible{
    height: max-content;
    margin: 5px auto;
    border: 1px solid rgb(189, 186, 186);
    display: flex;
    justify-content: center;
    align-content: center;
}
tr, td{
    width: 5px;
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.rat{
    padding: 5px;
    margin-left: 50px;
}
.active{
    display: none;
}
.passive{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.mat{
    background-color: aqua;
    border: 1px solid red;
}
.font, .rat, #first-paragraph, tr{
   
}
#first-paragraph{
    line-height: 40px;
}